header {
  background-color: #555b6e; 
  padding: 20px;
  color: #faf9f9;
  margin:0;
}

body {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

table {
  text-align: center;
  width: 90%;
  margin: 20px;
  background-color: #faf9f9;
  border: 1px solid #555b6e;
}

thead{
 background-color: #89b0ae    !important;
}

tbody{
  border: 1px solid #555b6e;
  background-color: #faf9f9;
}

th, td {
  height: 30px;
  border: 1px solid #555b6e;
}

tr:nth-child(even) {
  background-color: #ffe6ba
}

tfoot {
  height: 30px;
  background-color: transparent !important;
  border: none !important;
}
  
#noBorder {
  border: none !important;
}

button{
  background-color: #89b0ae;
  text-align: center !important;
  border-radius: 4px;
  }

.redBackground {
  background-color: red;
}

#buttonLand {
  text-align: right;
  margin-right: 8%;
  font-size: 20px;
}

#submit-btn {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

h3{
  text-align: right;
  margin-right: 8%;
}

h1{
  font-size: 50px;
  text-align: center;
}

form {
  margin: 3%;
}

h2{
  margin: 20px;
}

